/* styles.css */

/* Estilo para o botão de ação quando o modo de desenho está ativo */
.is-active {
    color: var(--interactive-accent);
}

.canvas-freehand-drawing-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    transform-origin: 0 0;
}

/* Quando o modo de desenho está ativo, mudamos o cursor do contêiner principal */
.canvas-wrapper.is-drawing-active {
    cursor: crosshair;
}

/* HOTFIX: tornar os paths visíveis (antes: stroke-width: 0) */
.canvas-freehand-drawing-layer path {
    stroke: var(--text-normal);
    stroke-width: 2;
    fill: none; /* manter como linha enquanto o path SVG não é fechado */
}